@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-roman.latin.var.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter var';
  font-style: italic;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-italic.latin.var.woff2) format('woff2');
  font-named-instance: 'Italic';
}

body {
  font-family: 'Inter var', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: subpixel-antialiased;
  font-feature-settings: 'case' 1, 'cpsp' 1, 'dlig' 1, 'cv01' 1, 'cv02',
    'cv03' 1, 'cv04' 1;
  font-variation-settings: 'wght' 450;
  font-variant: common-ligatures contextual;
  letter-spacing: -0.02em;
  background-image: linear-gradient(
  45deg,
  hsl(240deg 100% 1%) 0%,
  hsl(240deg 100% 2%) 25%,
  hsl(240deg 100% 3%) 44%,
  hsl(240deg 100% 4%) 58%,
  hsl(240deg 82% 10%) 70%,
  hsl(234deg 100% 14%) 79%,
  hsl(240deg 100% 19%) 86%,
  hsl(240deg 100% 19%) 92%,
  hsl(240deg 100% 19%) 95%,
  hsl(240deg 100% 19%) 98%,
  hsl(240deg 100% 21%) 100%,
  hsl(240deg 100% 23%) 100%,
  hsl(240deg 100% 26%) 100%
);
}
b,
strong,
h3,
h4,
h5,
h6 {
  font-variation-settings: 'wght' 650;
}
h1 {
  font-variation-settings: 'wght' 850;
}
h2 {
  font-variation-settings: 'wght' 750;
}

@media screen and (min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

details summary {
  cursor: pointer;
}

img.next-image {
  margin: 0;
  border-radius: 5px;
}

img.next-image.photo {
  margin-bottom: 100px;
  border-radius: 5px;
}

img.next-image.logo  {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.prose a {
  color: #0074de;
}

.nav-line .nav-link {
  color: #69778c;
}

.logo-div{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.logo-div.social {
  margin-bottom: 2rem;
}

.logo-div.product{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.email-link {
  font-size: 1.5rem;
}

.app {
  margin: 50px auto;
}
